.host-van-detail-info > h4 {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
.host-van-detail-info > h4 > span {
    font-weight: 400;
}

@media only screen and (min-width: 768px) {
    .host-van-detail-info > h4 {
        font-size: 20px;
    }
}
